<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src * 'unsafe-inline'; media-src *; img-src * data: content: blob:;">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/start.css">
  <script src="js/methods_bootstrap.js"></script>
  <script src="js/comp_bootstrap.js"></script>
  <script src="js/comp_utils.js"></script>
  <script src="js/vue_utils.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


  <script src="https://unpkg.com/blockly@8.0.0/blockly.min.js"></script>
  <script src="https://unpkg.com/blockly@8.0.0/blocks.js"></script>
  <script src="https://unpkg.com/blockly@8.0.0/javascript.js"></script>
  <script src="https://unpkg.com/blockly@8.0.0/msg/ja.js"></script>

  <script src="js/blocks_define.js"></script>
  <script src="js/blocks_javascript.js"></script>

  <script src="js/driver/Gpio.js"></script>
  <script src="js/driver/Wire.js"></script>
  <script src="js/driver/Lcd.js"></script>
  <script src="js/driver/Ledc.js"></script>
  <script src="js/driver/Sd.js"></script>
  <script src="js/driver/Rtc.js"></script>
  <script src="js/driver/Prefs.js"></script>
  <script src="js/Arduino.js"></script>

  <script src="js/start.js" defer></script>


  <title>QuickJS_ESP32</title>
</head>

<body>
  <!--
    <div id="loader-background">
      <div class="sk-plane sk-center"></div>
    </div>
-->
  <div id="top" class="container">
    <div class="form-inline pull-right">
      <label>base_url</label> <input type="text" class="form-control" v-model="base_url"><button class="btn btn-default btn-sm" v-on:click="seturl">変更</button>
    </div>
    <h1>QuickJS_ESP32</h1>
    
    <ul class="nav nav-tabs">
      <li class="active"><a href="#editor" data-toggle="tab">エディタ</a></li>
      <li><a href="#operate" data-toggle="tab">デバイス操作</a></li>
      <li><a href="#blockly" data-toggle="tab">Blockly</a></li>
    </ul>

    <div class="tab-content">
      <div id="editor" class="tab-pane fade in active">
        <br>

        <div class="form-inline">
          <label>ライブラリファイルのリスト</label>
          <button class="btn btn-primary" v-on:click="get_module_list">リスト取得</button>
          <select class="form-control" v-model="target_module">
            <option v-for="(item, index) in module_list" v-bind:value="item">{{item}}</option>
          </select>
          <button class="btn btn-primary" v-on:click="download_module">ダウンロード</button>
          <button class="btn btn-primary" v-on:click="delete_module">削除</button>
        </div>
        <br>
        <div class="form-inline">
          <label>実行中Javascriptをダウンロード</label>
          <button class="btn btn-primary" v-on:click="download_text">ダウンロード</button>
        </div>

        <hr>
        <span class="form-inline">
          <select class="form-control" v-model="upload_mode">
            <option value="main">main.js</option>
            <option value="module">Library</option>
          </select>
          <input v-if="upload_mode=='module'" type="text" class="form-control" v-model="module_name">
          <span v-if="upload_mode=='main'">
            <input type="checkbox" id="chk_autoupdate" v-model="chk_autoupdate"><label for="chk_autoupdate">autoupdate</label>
          </span>
        </span>
        <button class="btn btn-primary" v-on:click="upload_textarea">アップロード</button>&nbsp;
        <button class="btn btn-primary" v-on:click="save_textarea">ファイル保存</button>
        <button class="btn btn-default btn-sm" v-on:click="esp32_restart">restart</button>
        <button class="btn btn-default btn-sm" v-on:click="esp32_stop">stop</button>
        <span class="form-inline">
          <select class="form-control pull-right" v-model="exec_mode">
            <option value="code">code</option>
            <option value="eval">eval</option>
          </select>
        </span>
        <textarea class="form-control" rows="20" v-model="input_text" v-on:keydown="catch_tabKey($event)"></textarea>

        <modal-dialog size="lg" id="quickjs_js_dialog">
          <div slot="content">
            <div class="modal-header">
              <label>main.js</label>
            </div>
            <div class="modal-body">
              <textarea class="form-control" rows="20" readonly>{{downloaded_js}}</textarea>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" v-on:click="copy_to_texearea">テキストエリアにコピー</button>
              <button class="btn btn-default" v-on:click="dialog_close('#quickjs_js_dialog')">閉じる</button>
            </div>
          </div>
        </modal-dialog>

      </div>

      <div id="operate" class="tab-pane fade in">
        <h1>Wire</h1>
        <div class="form-inline">
          <select class="form-control" v-model="wire_index">
            <option value="0">Wire</option>
            <option value="1">Wire1</option>
          </select><br>
        </div>
        <div class="form-inline">
          <label>sda</label> <input type="number" class="form-control" v-model.number="wire_sda">
          <label>scl</label> <input type="number" class="form-control" v-model.number="wire_scl">
          <button class="btn btn-default btn-sm" v-on:click="wire_begin">begin</button><br>
          <button class="btn btn-default btn-sm" v-on:click="wire_scanDevice">scanDevice</button><br>
          {{wire_devices}}<br>
          <label>address</label> <input type="number" class="form-control" v-model.number="wire_address">
          <select class="form-control" v-model="wire_mode">
            <option value="read">read</option>
            <option value="write">write</option>
            <option value="write_read">write & read</option>
          </select>
          <span v-if="wire_mode!='read'">
            <label>write</label><input type="text" class="form-control" v-model="wire_write_value">
          </span>
          <span v-if="wire_mode!='write'">
            <label>read_len</label><input type="number" class="form-control" v-model.number="wire_read_len">
          </span>
          <button class="btn btn-default btn-sm" v-on:click="wire_execute">execute</button><br>
          {{wire_read_value}}
        </div>

        <h1>Gpio</h1>
        <div class="form-inline">
          <label>pin</label> <input type="number" class="form-control" v-model.number="gpio_pin"><br>
          <select class="form-control" v-model="gpio_pin_mode">
            <option v-bind:value="Gpio.INPUT">INPUT</option>
            <option v-bind:value="Gpio.OUTPUT">OUTPUT</option>
          </select>
          <button class="btn btn-default btn-sm" v-on:click="gpio_pinMode">pinMode</button><br>
          <select class="form-control" v-model="gpio_value">
            <option v-bind:value="Gpio.LOW">LOW</option>
            <option v-bind:value="Gpio.HIGH">HIGH</option>
          </select>
          <button class="btn btn-default btn-sm" v-on:click="gpio_digitalWrite">digitalWrite</button>
          <button class="btn btn-default btn-sm" v-on:click="gpio_digitalRead">digitalRead</button><br>
          <button class="btn btn-default btn-sm" v-on:click="gpio_analogRead">analogRead</button> {{gpio_analog_value}}<br>
        </div>

        <h1>Ledc</h1>
        <div class="form-inline">
          <label>channel</label> <input type="number" class="form-control" v-model.number="ledc_channel">
          <label>freq</label> <input type="number" class="form-control" v-model.number="ledc_setup_freq">
          <label>resolution</label> <input type="number" class="form-control" v-model.number="ledc_setup_resolution">
          <button class="btn btn-default btn-sm" v-on:click="ledc_setup">setup</button><br>
          <label>pin</label> <input type="number" class="form-control" v-model.number="ledc_pin">
          <button class="btn btn-default btn-sm" v-on:click="ledc_attachPin">attachPin</button>
          <button class="btn btn-default btn-sm" v-on:click="ledc_detachPin">detachPin</button><br>
          <label>duty</label> <input type="number" class="form-control" v-model="ledc_duty">
          <button class="btn btn-default btn-sm" v-on:click="ledc_write">write</button><br>
          <label>freq</label> <input type="number" class="form-control" v-model="ledc_freq">
          <button class="btn btn-default btn-sm" v-on:click="ledc_writeTone">writeTone</button><br>
          <label>note</label> <select class="form-control" v-model.number="ledc_note">
            <option value="0">NOTE_C</option>
            <option value="1">NOTE_Cs</option>
            <option value="2">NOTE_D</option>
            <option value="3">NOTE_Eb</option>
            <option value="4">NOTE_E</option>
            <option value="5">NOTE_F</option>
            <option value="6">NOTE_Fs</option>
            <option value="7">NOTE_G</option>
            <option value="8">NOTE_Gs</option>
            <option value="9">NOTE_A</option>
            <option value="10">NOTE_Bb</option>
            <option value="11">NOTE_B</option>
            <option value="12">NOTE_MAX</option>
          </select>
          <label>octave</label> <input type="number" class="form-control" v-model="ledc_octave">
          <button class="btn btn-default btn-sm" v-on:click="ledc_writeNote">writeNote</button><br>
        </div>

        <h1>Rtc</h1>
        <div class="form-inline">
          <input type="number" class="form-control" v-model.number="rtc_date.Year">年
          <input type="number" class="form-control" v-model.number="rtc_date.Month">月
          <input type="number" class="form-control" v-model.number="rtc_date.Date">日
          <button class="btn btn-default btn-sm" v-on:click="rtc_get_date">取得</button>
          <button class="btn btn-default btn-sm" v-on:click="rtc_set_date">設定</button>
        </div>
        <div class="form-inline">
          <input type="number" class="form-control" v-model.number="rtc_time.Hours">時
          <input type="number" class="form-control" v-model.number="rtc_time.Minutes">分
          <input type="number" class="form-control" v-model.number="rtc_time.Seconds">秒
          <button class="btn btn-default btn-sm" v-on:click="rtc_get_time">取得</button>
          <button class="btn btn-default btn-sm" v-on:click="rtc_set_time">設定</button>
        </div>

        <h1>SD</h1>
        <div class="form-inline">
          <label>filename</label> <input type="text" class="form-control" v-model="sd_filename">
          <button class="btn btn-default btn-sm" v-on:click="sd_list">list</button>
          <button class="btn btn-default btn-sm" v-on:click="sd_exists">exists</button> {{sd_exists_result}}
          <button class="btn btn-default btn-sm" v-on:click="sd_mkdir">mkdir</button> {{sd_mkdir_result}}
          <br>
          <button class="btn btn-default btn-sm" v-on:click="sd_writeText">writeText</button> {{sd_writeText_result}}
          <button class="btn btn-default btn-sm" v-on:click="sd_appendText">appendText</button> {{sd_appendText_result}}
        </div>
        <textarea type="text" class="form-control" rows="3" v-model="sd_writeText_input"></textarea>
        <label>file upload</label> <comp_file id="sd_file" v-bind:callback="sd_open_files"></comp_file>
        <div class="form-inline">
          <select class="form-control" v-model="sd_target_file">
            <option v-for="(item, index) in sd_file_list" v-bind:value="item">{{item}}</option>
          </select>
          <button class="btn btn-default btn-sm" v-on:click="sd_remove">remove</button> {{sd_remove_result}}
          <button class="btn btn-default btn-sm" v-on:click="sd_rmdir">rmdir</button> {{sd_rmdir_result}}
          <button class="btn btn-default btn-sm" v-on:click="sd_size">size</button> {{sd_size_result}}
          <button class="btn btn-default btn-sm" v-on:click="sd_readText">readText</button>
        </div>
        <textarea type="text" class="form-control" rows="3" readonly>{{sd_readText_result}}</textarea>

        <h1>Prefs</h1>
        <div class="form-inline">
          <label>name</label> <input type="text" class="form-control" v-model="prefs_name">
          <label>key</label> <input type="text" class="form-control" v-model="prefs_key">
        </div>
        <div class="form-inline">
          <button class="btn btn-default btn-sm" v-on:click="prefs_put_number">putNumber</button>
          <button class="btn btn-default btn-sm" v-on:click="prefs_get_number">getNumber</button>
          <button class="btn btn-default btn-sm" v-on:click="prefs_put_string">putString</button>
          <button class="btn btn-default btn-sm" v-on:click="prefs_get_string">getString</button>
        </div>
        <label>value</label>
        <input type="text" class="form-control" v-model="prefs_value">

        <h1>esp32</h1>
        <button class="btn btn-default btn-sm" v-on:click="esp32_millis">millis</button> {{esp32_millis_result}}<br>
        <button class="btn btn-default btn-sm" v-on:click="esp32_console_log">console.log</button><br>
        <input type="text" class="form-control" v-model="esp32_console_message">
        <button class="btn btn-default btn-sm" v-on:click="esp32_pause">pause</button>
        <button class="btn btn-default btn-sm" v-on:click="esp32_resume">resume</button>
        <button class="btn btn-default btn-sm" v-on:click="esp32_restart">restart</button>
        <button class="btn btn-default btn-sm" v-on:click="esp32_reboot">reboot</button>
        <button class="btn btn-default btn-sm" v-on:click="esp32_start">start</button>
        <button class="btn btn-default btn-sm" v-on:click="esp32_stop">stop</button><br>
        <button class="btn btn-default btn-sm" v-on:click="esp32_putText">putText</button>
        <input type="text" class="form-control" v-model="esp32_putText_input">
        <div class="form-inline">
          <button class="btn btn-default btn-sm" v-on:click="esp32_get_ipaddress_macaddress">IpAddress&nbsp;&amp;&nbsp;MacAddress</button>
          <label>IpAddress</label> <input type="text" class="form-control" v-model="ipaddress" readonly>
          <label>MacAddress</label> <input type="text" class="form-control" v-model="macaddress" readonly>
        </div>
        <div class="form-inline">
          <label>syslog</label>
          <label>host</label> <input type="text" class="form-control" v-model="syslog_host">
          <label>port</label> <input type="number" class="form-control" v-model.number="syslog_port">
          <button class="btn btn-default btn-sm" v-on:click="esp32_getSyslogServer">取得</button>
          <button class="btn btn-default btn-sm" v-on:click="esp32_setSyslogServer">設定</button>
      </div>
    
    </div>


      <div id="blockly" class="tab-pane fade in">
    <br>
        <div v-if="!hasWorkspace">
          <button class="btn btn-primary" v-on:click="createWorkspace">Create Workspace</button>
        </div>
        <div v-else>
          <div class="row">
            <div id="blocklyDiv" class="form-control" style="height: 80vh;"></div>
          </div>
  
          <button class="btn btn-primary btn-lg" v-on:click="showJavascript()">Show & Upload Javascript</button>
          <button class="btn btn-default" v-on:click="importCode()">Import Code</button>
          <button class="btn btn-default" v-on:click="exportCode()">Export Code</button>
          <button class="btn btn-default btn-sm pull-right" v-on:click="clearWorkspace()">Clear Workspace</button>
        </div>

        <modal-dialog size="lg" id="upload_js_dialog">
      <div slot="content">
        <div class="modal-header">
          <label>main.js</label>
        </div>
        <div class="modal-body">
              <textarea class="form-control" rows="20">{{js_upload}}</textarea>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" v-on:click="do_upload">アップロード</button>
              <button class="btn btn-default" v-on:click="do_copy_upload">クリップボードにコピー</button>
              <button class="btn btn-default" v-on:click="dialog_close('#upload_js_dialog')">閉じる</button>
            </div>
          </div>
        </modal-dialog>
    
        <modal-dialog size="lg" id="import_js_dialog">
          <div slot="content">
            <div class="modal-header">
              <label>Import</label>
            </div>
            <div class="modal-body">
              <textarea class="form-control" rows="20" v-model="js_import"></textarea>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" v-on:click="do_import">インポート</button>
              <button class="btn btn-default" v-on:click="dialog_close('#import_js_dialog')">閉じる</button>
            </div>
          </div>
        </modal-dialog>
    
        <modal-dialog size="lg" id="export_js_dialog">
          <div slot="content">
            <div class="modal-header">
              <label>Export</label>
            </div>
            <div class="modal-body">
              <textarea class="form-control" rows="20" readonly>{{js_export}}</textarea>
        </div>
        <div class="modal-footer">
              <button class="btn btn-primary" v-on:click="do_copy_export">クリップボードにコピー</button>
              <button class="btn btn-default" v-on:click="dialog_close('#export_js_dialog')">閉じる</button>
        </div>
      </div>
    </modal-dialog>

      </div>

    </div>
    <br>



    <!-- for progress-dialog -->
    <progress-dialog v-bind:title="progress_title"></progress-dialog>
  </div>


  <xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
    <category name="論理" colour="%{BKY_LOGIC_HUE}">
      <block type="controls_if"></block>
      <block type="controls_if">
        <mutation else="1"></mutation>
      </block>
      <block type="controls_if">
        <mutation elseif="1" else="1"></mutation>
      </block>
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
      <block type="logic_null"></block>
    </category>
    <category name="ループ" colour="%{BKY_LOOPS_HUE}">
      <block type="controls_repeat_ext">
        <value name="TIMES">
          <block type="math_number">
            <field name="NUM">10</field>
          </block>
        </value>
      </block>
      <block type="controls_whileUntil"></block>
      <block type="controls_for">
        <field name="VAR">i</field>
        <value name="FROM">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="TO">
          <block type="math_number">
            <field name="NUM">10</field>
          </block>
        </value>
        <value name="BY">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
      </block>
      <block type="controls_forEach"></block>
      <block type="controls_flow_statements"></block>
    </category>
    <category name="数値" colour="%{BKY_MATH_HUE}">
      <block type="math_number">
        <field name="NUM">123</field>
      </block>
      <block type="math_arithmetic"></block>
      <block type="math_single"></block>
      <block type="math_trig"></block>
      <block type="math_constant"></block>
      <block type="math_number_property"></block>
      <block type="math_round"></block>
      <block type="math_on_list"></block>
      <block type="math_modulo"></block>
      <block type="math_constrain">
        <value name="LOW">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="HIGH">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
      </block>
      <block type="math_random_int">
        <value name="FROM">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="TO">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
      </block>
      <block type="math_random_float"></block>
      <block type="math_atan2"></block>
    </category>
    <category name="テキスト" colour="%{BKY_TEXTS_HUE}">
      <block type="text"></block>
      <block type="text_multiline"></block>
      <block type="text_join"></block>
      <block type="text_append">
        <value name="TEXT">
          <shadow type="text"></shadow>
        </value>
      </block>
      <block type="text_length">
        <value name="VALUE">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
      <block type="text_isEmpty">
        <value name="VALUE">
          <shadow type="text">
            <field name="TEXT"></field>
          </shadow>
        </value>
      </block>
      <block type="text_indexOf">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">text</field>
          </block>
        </value>
        <value name="FIND">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
      <block type="text_charAt">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">text</field>
          </block>
        </value>
      </block>
      <block type="text_getSubstring">
        <value name="STRING">
          <block type="variables_get">
            <field name="VAR">text</field>
          </block>
        </value>
      </block>
      <block type="text_changeCase">
        <value name="TEXT">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
      <block type="text_trim">
        <value name="TEXT">
          <shadow type="text">
            <field name="TEXT">abc</field>
          </shadow>
        </value>
      </block>
      <block type="text_count">
        <value name="SUB">
          <shadow type="text"></shadow>
        </value>
        <value name="TEXT">
          <shadow type="text"></shadow>
        </value>
      </block>
      <block type="text_replace">
        <value name="FROM">
          <shadow type="text"></shadow>
        </value>
        <value name="TO">
          <shadow type="text"></shadow>
        </value>
        <value name="TEXT">
          <shadow type="text"></shadow>
        </value>
      </block>
      <block type="text_reverse">
        <value name="TEXT">
          <shadow type="text"></shadow>
        </value>
      </block>
    </category>
    <category name="リスト" colour="%{BKY_LISTS_HUE}">
      <block type="lists_create_empty"></block>
      <block type="lists_create_with"></block>
      <block type="lists_repeat">
        <value name="NUM">
          <block type="math_number">
            <field name="NUM">5</field>
          </block>
        </value>
      </block>
      <block type="lists_length"></block>
      <block type="lists_isEmpty"></block>
      <block type="lists_indexOf">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">list</field>
          </block>
        </value>
      </block>
      <block type="lists_getIndex">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR">list</field>
          </block>
        </value>
      </block>
      <block type="lists_setIndex">
        <value name="LIST">
          <block type="variables_get">
            <field name="VAR">list</field>
          </block>
        </value>
      </block>
      <block type="lists_getSublist">
        <value name="LIST">
          <block type="variables_get">
            <field name="VAR">list</field>
          </block>
        </value>
      </block>
      <block type="lists_split">
        <value name="DELIM">
          <shadow type="text">
            <field name="TEXT">,</field>
          </shadow>
        </value>
      </block>
      <block type="lists_sort"></block>
      <block type="lists_reverse"></block>
    </category>
    <category name="カラー" colour="%{BKY_COLOUR_HUE}">
      <block type="colour_picker"></block>
      <block type="colour_random"></block>
      <block type="colour_rgb">
        <value name="RED">
          <shadow type="math_number">
            <field name="NUM">100</field>
          </shadow>
        </value>
        <value name="GREEN">
          <shadow type="math_number">
            <field name="NUM">50</field>
          </shadow>
        </value>
        <value name="BLUE">
          <shadow type="math_number">
            <field name="NUM">0</field>
          </shadow>
        </value>
      </block>
      <block type="colour_blend">
        <value name="COLOUR1">
          <shadow type="colour_picker">
            <field name="COLOUR">#ff0000</field>
          </shadow>
        </value>
        <value name="COLOUR2">
          <shadow type="colour_picker">
            <field name="COLOUR">#3333ff</field>
          </shadow>
        </value>
        <value name="RATIO">
          <shadow type="math_number">
            <field name="NUM">0.5</field>
          </shadow>
        </value>
      </block>
    </category>
    <category name="変数" custom="VARIABLE" colour="%{BKY_VARIABLES_HUE}">
    </category>
    <category name="関数" custom="PROCEDURE" colour="%{BKY_PROCEDURES_HUE}">
    </category>
    <sep></sep>
    <category name="カスタム" expanded="true">
      <category name="Default">
        <block type="program_start">
          <value name="modules">
            <block type="lists_create_with"></block>
          </value>
        </block>
        <block type="program_module"></block>
        <block type="reboot"></block>
        <block type="restart"></block>
        <block type="checkputtext"></block>
        <block type="console_log"></block>
        <block type="object">
          <value name="obj">
            <block type="lists_create_with"></block>
          </value>
        </block>
        <block type="object_field"></block>
        <block type="loop">
          <value name="async">
            <shadow type="logic_boolean"></shadow>
          </value>
          <value name="msec">
            <shadow type="math_number">
              <field name="NUM">1000</field>
            </shadow>
          </value>
        </block>
        <block type="update"></block>
        <block type="void"></block>
      </category>
      <category name="Timer">
        <block type="millis"></block>
        <block type="delay">
          <value name="msec">
            <shadow type="math_number">
              <field name="NUM">1000</field>
            </shadow>
          </value>
        </block>
        <block type="settimeout">
          <value name="msec">
            <shadow type="math_number">
              <field name="NUM">1000</field>
            </shadow>
          </value>
          <value name="async">
            <shadow type="logic_boolean"></shadow>
          </value>
        </block>
        <block type="cleartimeout">
          <value name="id">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="setinterval">
          <value name="msec">
            <shadow type="math_number">
              <field name="NUM">1000</field>
            </shadow>
          </value>
          <value name="async">
            <shadow type="logic_boolean"></shadow>
          </value>
        </block>
        <block type="clearinterval">
          <value name="id">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="wait_async">
          <value name="msec">
            <shadow type="math_number">
              <field name="NUM">1000</field>
            </shadow>
          </value>
          <value name="await">
            <shadow type="logic_boolean"></shadow>
          </value>
        </block>
      </category>
      <category name="Env">
        <block type="env_dht12_readtemperature">
          <value name="fixed">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="env_dht12_readhumidity">
          <value name="fixed">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="env_sht30_gettemperature">
          <value name="fixed">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="env_sht30_gethumidity">
          <value name="fixed">
            <shadow type="math_number"></shadow>
          </value>
        </block>
      </category>
      <category name="Gpio">
        <block type="gpio_pinmode">
          <value name="pin">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="gpio_analogread">
          <value name="pin">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="gpio_digitalread">
          <value name="pin">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="gpio_digitalwrite">
          <value name="pin">
            <shadow type="math_number"></shadow>
          </value>
        </block>
      </category>
      <category name="Audio">
        <block type="audio_begin"></block>
        <block type="audio_setpinout">
          <value name="bclk">
            <shadow type="math_number"></shadow>
          </value>
          <value name="lrck">
            <shadow type="math_number"></shadow>
          </value>
          <value name="dout">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="audio_update"></block>
        <block type="audio_playsd">
          <value name="path">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
        </block>
        <block type="audio_setgain">
          <value name="gain">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="audio_getgain"></block>
        <block type="audio_isrunning"></block>
        <block type="audio_stop"></block>
      </category>
      <category name="Input">
        <block type="input_ispressed"></block>
        <block type="input_onbuttonwaspressed">
          <value name="async">
            <shadow type="logic_boolean"></shadow>
          </value>
        </block>
      </category>
      <category name="Ir">
        <block type="ir_sendbegin">
          <value name="pin">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="ir_send">
          <value name="data">
            <shadow type="math_number"></shadow>
          </value>
          <value name="repeat">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="ir_recvbegin">
          <value name="pin">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="ir_recvstart"></block>
        <block type="ir_recvstop"></block>
        <block type="ir_checkrecv"></block>
      </category>
      <category name="Lcd">
        <block type="lcd_setrotation">
          <value name="rot">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_setbrightness">
          <value name="brt">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_setfont">
          <value name="size">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_settextcolor"></block>
        <block type="lcd_settextsize">
          <value name="scale">
            <shadow type="math_number"></shadow>
          </value>
          <value name="yscale">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_settextdatum"></block>
        <block type="lcd_drawpixel">
          <value name="x">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_drawline">
          <value name="x0">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y0">
            <shadow type="math_number"></shadow>
          </value>
          <value name="x1">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y1">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_drawrect">
          <value name="x">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y">
            <shadow type="math_number"></shadow>
          </value>
          <value name="w">
            <shadow type="math_number"></shadow>
          </value>
          <value name="h">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_fillrect">
          <value name="x">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y">
            <shadow type="math_number"></shadow>
          </value>
          <value name="w">
            <shadow type="math_number"></shadow>
          </value>
          <value name="h">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_fillroundrect">
          <value name="x">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y">
            <shadow type="math_number"></shadow>
          </value>
          <value name="w">
            <shadow type="math_number"></shadow>
          </value>
          <value name="h">
            <shadow type="math_number"></shadow>
          </value>
          <value name="r">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_drawroundrect">
          <value name="x">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y">
            <shadow type="math_number"></shadow>
          </value>
          <value name="w">
            <shadow type="math_number"></shadow>
          </value>
          <value name="h">
            <shadow type="math_number"></shadow>
          </value>
          <value name="r">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_drawcircle">
          <value name="x">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y">
            <shadow type="math_number"></shadow>
          </value>
          <value name="r">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_fillcircle">
          <value name="x">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y">
            <shadow type="math_number"></shadow>
          </value>
          <value name="r">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_setcursor">
          <value name="x">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_getcursorx"></block>
        <block type="lcd_getcursory"></block>
        <block type="lcd_textwidth">
          <value name="text">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
        </block>
        <block type="lcd_print">
          <value name="message">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
        </block>
        <block type="lcd_println">
          <value name="message">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
        </block>
        <block type="lcd_fillscreen"></block>
        <block type="lcd_drawimagefile">
          <value name="filename">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
          <value name="x">
            <shadow type="math_number"></shadow>
          </value>
          <value name="y">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="lcd_width"></block>
        <block type="lcd_height"></block>
        <block type="lcd_getcolordepth"></block>
        <block type="lcd_fontheight"></block>
      </category>
      <category name="Ledc">
        <block type="ledc_setup">
          <value name="channel">
            <shadow type="math_number"></shadow>
          </value>
          <value name="freq">
            <shadow type="math_number"></shadow>
          </value>
          <value name="resolution">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="ledc_attachpin">
          <value name="pin">
            <shadow type="math_number"></shadow>
          </value>
          <value name="channel">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="ledc_detachpin">
          <value name="pin">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="ledc_write">
          <value name="channel">
            <shadow type="math_number"></shadow>
          </value>
          <value name="duty">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="ledc_writetone">
          <value name="channel">
            <shadow type="math_number"></shadow>
          </value>
          <value name="freq">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="ledc_writenote">
          <value name="channel">
            <shadow type="math_number"></shadow>
          </value>
          <value name="octave">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="ledc_read">
          <value name="channel">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="ledc_readfreq">
          <value name="channel">
            <shadow type="math_number"></shadow>
          </value>
        </block>
      </category>
      <category name="Mqtt">
        <block type="mqtt_connect">
          <value name="client_name">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
          <value name="buffer_size">
            <shadow type="math_number">
              <field name="NUM">256</field>
            </shadow>
          </value>
        </block>
        <block type="mqtt_connect_user_pass_">
          <value name="client_name">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
          <value name="buffer_size">
            <shadow type="math_number">
              <field name="NUM">256</field>
            </shadow>
          </value>
          <value name="username">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
          <value name="password">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
        </block>
        <block type="mqtt_disconnect"></block>
        <block type="mqtt_subscribe">
          <value name="topic">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
          <value name="async">
            <shadow type="logic_boolean"></shadow>
          </value>
        </block>
        <block type="mqtt_unsubscribe"></block>
        <block type="mqtt_publish">
          <value name="topic">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
          <value name="payload">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
        </block>
        <block type="mqtt_getpayload"></block>
        <block type="mqtt_setserver">
          <value name="host">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
          <value name="port">
            <shadow type="math_number"></shadow>
          </value>
        </block>
      </category>
      <category name="Pixels">
        <block type="pixels_begin">
          <value name="pin">
            <shadow type="math_number">
              <field name="NUM">0</field>
            </shadow>
          </value>
          <value name="num">
            <shadow type="math_number">
              <field name="NUM">25</field>
            </shadow>
          </value>
        </block>
        <block type="pixels_clear"></block>
        <block type="pixels_setonoff">
          <value name="onoff">
            <shadow type="logic_boolean"></shadow>
          </value>
        </block>
        <block type="pixels_getonoff"></block>
        <block type="pixels_setpixelcolor">
          <value name="index">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="pixels_getpixelcolor">
          <value name="index">
            <shadow type="math_number"></shadow>
          </value>
        </block>
      </category>
      <category name="Udp">
        <block type="udp_recvbegin">
          <value name="port">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="udp_sendtext">
          <value name="host">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
          <value name="port">
            <shadow type="math_number"></shadow>
          </value>
          <value name="text">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
        </block>
        <block type="udp_recvstop"></block>
        <block type="udp_checkrecv"></block>
      </category>
      <category name="Utils">
        <block type="utils_rgb2number"></block>
        <block type="utils_number2rgb"></block>
      </category>
      <category name="Wire">
        <block type="void">
          <value name="value">
        <block type="wire_begin">
          <value name="sda">
            <shadow type="math_number"></shadow>
          </value>
          <value name="scl">
            <shadow type="math_number"></shadow>
          </value>
        </block>
          </value>
        </block>
        <block type="wire_requestfrom">
          <value name="address">
            <shadow type="math_number"></shadow>
          </value>
          <value name="count">
            <shadow type="math_number"></shadow>
          </value>
          <value name="stop">
            <shadow type="logic_boolean"></shadow>
          </value>
        </block>
        <block type="wire_begintransaction">
          <value name="address">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="wire_endtransaction">
          <value name="sendStop">
            <shadow type="logic_boolean"></shadow>
          </value>
        </block>
        <block type="wire_write">
          <value name="value">
            <shadow type="math_number"></shadow>
          </value>
        </block>
        <block type="wire_available"></block>
        <block type="wire_read"></block>
      </category>
    </category>

  </xml>

</body>
